
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSalonDetalle</title>
</head>
<body>
    <div>
        <p1>PAGINA DEL DETALLE DE LOS SALONES.</p1>
    </div>
</body>
</html>
